@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,900&display=swap");

:root {
  /* --text-color: #ba94d1; */
  /* --text-color: #e97777; */
  --text-color: #b1b2ff;

  --book-read: #08a90ea6;
  --book-unread: #ff161685;

  --bg-color: #f9f9f9;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  background-color: var(--bg-color);
}

body {
  width: 100vw;
  height: 100vh;

  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 5rem;

  border: 1px dashed salmon;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

#hero-title {
  font-size: 2.25rem;
  font-weight: 900;
  font-style: italic;
  text-decoration: underline;
  color: var(--text-color);
}

.inputs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

input,
select,
button {
  width: 12rem;
  height: 2rem;

  border-radius: 0.3rem;

  padding: 0 1rem;
}

input,
button {
  border: 1px solid #343434;
}

button {
  cursor: pointer;
}

#inp-add {
  background-color: var(--text-color);
  color: var(--bg-color);
  font-weight: 900;
  border: none;

  transition: all 250ms;
}

#inp-add:hover {
  scale: 1.05;
}

.books-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  flex-wrap: wrap;

  border: 1px solid salmon;
}

.book-card {
  width: 310px;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin: 2rem;
  padding: 1rem 0.5rem;

  border: 1px solid var(--book-read);
  border-radius: 0.5rem;
}

.book-card h1 {
  font-size: 1.2rem;

  color: #343434;
}

.btm-bar {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 1rem;
}

.option-btns {
  display: flex;
  margin-left: 1rem;
  gap: 1rem;
}
.option-btns button {
  width: 84px;
  order: -1;
  font-weight: 500;
}

.btn-delete {
  color: var(--bg-color);
  background-color: var(--book-unread);

  border: none;
  transition: all 250ms;
}

.btn-read {
  transition: all 250ms;
}

.btn-read:hover {
  scale: 1.05;
}

.btn-delete:hover {
  scale: 1.05;
}

.book-card h2 {
  font-size: 0.9rem;

  font-weight: 500;
  color: #646464;
}
